<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
  <title>Students</title>
</head>
<body>
<h2>All registered students listed here!</h2>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Birthday</th>
  </tr>
  </thead>
  <tbody>
  <tr th:if="${students.isEmpty()}">
    <td colspan="2">No Students available</td>
  </tr>
  <tr th:each="student : ${students}">
    <td><span th:text="${student.name}">Name</span> </td>
    <td><span th:text="${student.email}">Email</span> </td>
    <td><span th:text="${student.dob}">Birthdate</span> </td>
  </tr>
  </tbody>
</table>
<a href="/addstudent">Add more students</a>
</body>
</html>